<html>
    <head>
        <title>AnyFridge AnyWhere</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <!-- Include jQuery before Semantic UI -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
        <script>
            setTimeout(function() {
                location.reload();
            }, 5000); // Refresh every 5 seconds (adjust as needed)
        </script>
    </head>
    <body>
        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

